<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
</head>
<body>
<div th:if="${currentUser!= null}">Welcome <b th:text="${currentUser .name}"></b> <br>
    <a href="/logout"> Logout</a>
</div>
<form action="/user/register" method="post">
  name:<input type="text" name="name"><br>
  surname:<input type="text" name="surname"><br>
  phone:<input type="text" name="phone"><br>
  email:<input type="text" name="email"><br>
  password<input type="password" name="password"><br>
  <input type="submit" value="register">
</form>

</body>
</html>
