<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Single product</title>
</head>
<body>
<div th:if="${currentUser != null}">Welcome <b th:text="${currentUser.name}"></b></div>

<a href="/products">Back</a>
<h2 th:text="${category.name}"></h2>
<div class="card-body">
  <table id="datatablesSimple">
    <thead>
    <tr>
      <th>id</th>
      <th>title</th>
      <th>price</th>
      <th>description</th>
      <th>img</th>
      <th>category</th>
    </tr>
    </thead>
    <tr th:each="product : ${products}"  th:if="${category.id == product.category.id}">
      <td th:text="${product.id}"></td>
      <td th:text="${product.title}"></td>
      <td th:text="${product.getPrice()}"></td>
      <td th:text="${product.description}"></td>
      <td> <img th:if="${product.getImgPath() != null}" th:src="@{/getImage(profilePic=${product.getImgPath()})}" width="100"/></td>
      <td th:text="${product.category.name}"></td>
      </td>
    </tr>
    <tbody>
    </tbody>
  </table>
</div>

</body>
</html>
